*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kalnia', serif;
    background-color: rgb(82, 92, 102);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, rgba(255,102,87,1) 7%, rgba(255,157,118,1) 96%);
    font-size: 25px;
    width: 100%;
    height: 6rem;
    box-shadow: 3px 3px 6px #5a525c;
    color: rgb(254, 255, 255);
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

span{
    cursor: pointer;
}

.logo{
    position: relative;
    display: flex;
    justify-content: center;
    top: -5rem;
}

.logo img{
    width: 4rem;
    transition: transform 0.3s ease-in-out;
    
}

.logo img:hover{
    transform: scale(1.2);  
}

#agend-border{
    border-right: 1px solid #fff;
    padding-right: 15px;
}