*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202020;
    height: 100vh;
}

.menu-lateral{
    background-color: #202020;
    width:90px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 2px;
    box-shadow: 3px 0px 0px #45d8f1;
}


ul{
    list-style-type: none;
}

ul li.itens-menu a{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

ul li:hover{
    background-color: #45d8f1;
    transition: 1.5s;

}


ul li.itens-menu a .icon > span{
    display: flex;
    font-size: 35px;

}
