.aside {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
    padding-top: 12px;
    gap: 12px;
    border-right: 3px solid rgb(62, 177, 177);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: aliceblue;
    width: 100%; /* Garante que o link ocupe todo o espaço disponível */
    height: 50px; /* Ajuste a altura conforme necessário */
    transition: 1s;
}

a:hover {
    background-color: rgb(48, 136, 136); /* Altera a cor de fundo ao passar o mouse */
}

.mat-icon {
    width: auto;
    height: auto;
    font-size: 30px; /* Ajuste o tamanho do ícone conforme necessário */
}
