*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
display:flex ;
justify-content: space-between;
padding: 15px;
background-color: rgb(60, 58, 58);
box-shadow: 2px 2px 2px #4442426b;
align-items: center;


}

a{
    text-decoration: none;
    color: rgba(217, 219, 72, 0.682);

}

body{
    font-family: 'Cabin', sans-serif;
    background-color: rgba(165, 163, 73, 0.473);

}

.tela{
    background-image: 100%;
    background-size: cover;
    height: 130vh;


}
.login{
    border-radius: 30px;
    margin-left: 800px;
    justify-content: center;
    background-color: rgba(51, 48, 48, 0.651);
    padding: 20px;
    width: 500px;
    height: 350px;
    margin-top: 150px;
    font-family:  'Cabin', sans-serif
    
  

    ;
}
.icon{
    width: 100px;
    height: 90px;
    margin-left: 190px;
}

.email{
    width: 150px;
    height: 10;
    display: flex;
    font-family: 'Signika', sans-serif;
    margin-top: 20px;
    margin-left: 170px;

}

.password{
    margin-left: 170px;
    width: 150px;
    font-family: 'Signika', sans-serif; }
    
  

.tesoura{
    width: 40px;}



.infor{
    display: flex;
    gap: 10px;
}

.p{
    background-color: rgba(250, 235, 215, 0);
    width: 850x;
    margin-top: 180px;
    margin-left: 190px;
    display: flex;
   justify-content: center;

}





