*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.infor{
display:flex ;
justify-content: end;
gap: 10px;
padding: 15px;
background-color: rgb(60, 58, 58);
box-shadow: 2px 2px 2px #6a4343;

}

a{
    text-decoration: none;
    color: rgba(202, 62, 62, 0.682);

}

body{
    font-family: 'Cabin', sans-serif;

}

.tela{
background-image: 100%;
background-size: cover;
height: 130vh;


}
.log{
    background-color: rgb(0, 0, 0, 0.8);
}